<h2>mission statement</h2>
<p>
to eat and review chicken from as many places as possible, judge them fairly, and then make the results available for other chicken eaters so that they can minimise the number of times they buy rubbish chicken. 
</p>

<h3>review criteria</h3>

<ul>
    <li>2 pieces of chicken (fried)</li>
    <li>wings (fried, not bbq)</li>
    <li>fries</li>
    <li>sauces</li>
    <li>drinks</li>
    <li>any extras</li>
</ul>
