<p>reviews</p>
<ul class="review-list">
  {{#each reviews}}
    <li>
      <a class="review" href="/{{slug}}/{{id}}">
        <img class="review__image" src="/images/dogorchicken.png" />
        <h3 class="review__title">{{title}}</h3>
        <span class="review__overall-rating">5/10</span>
      </a>
    </li>
  {{/each}}
</ul>
