html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Karla', sans-serif;
}

.site-header {
    background-color: #1d1d1d;
    color: #fffaf0;
    padding: 10px;
}

.site-header a {
    color: inherit;
}

.site-logo {
    text-decoration: none;
}

.hero-section {
    background-color: #fbecc7;
    background-image: url(./repeating-chicken.png);
    background-size: 170px;
    background-position: center;
    padding: 60px 20px;
}

.hero-section__inner {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
}

.hero-section h1 {
    margin: 0;
}

.hero-section p {
    margin: 0;
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.review-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* > means only an li that is a direct child of the review list will be affected */
.review-list > li {
    max-width: 48%;
    margin: 0 0 20px 0;
}

.review {
    display: block;
}

.review__title {
    margin: 0;
}

.review__image {
    display: block;
    max-width: 100%;
}

.site-footer {
    max-width: 580px;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
}

@media (max-width: 500px) {

    .hero-section {
        padding: 20px;
        background-size: 130px;
    }
    .review-list {
        display: block;
    }
    .review-list > li {
        max-width: 100%;
    }
}

