
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
}

.header {
    background-position: center;
    padding: 40px 20px;
    min-height: 240px;
}

.header .page-title {
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.header .subtitle {
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.nav {
    background: #000;
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    background-color: #3ab795;
    text-decoration: underline;
}

.main-content {
    margin: 50px auto;
    max-width: 600px;
}

.main-content p {
    line-height: 1.6;
    margin-bottom: 1.7em;
}

.footer {
    margin: 50px auto;
    max-width: 600px;
    border-top: 1px solid #444;
    padding: 20px 0;
}

.footer p {
    color: #444;
    font-size: 12px;
}

.rating-list {
    list-style: none;
}

/* .rating__label {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
}

.rating__number {
    display: none;
    /* border: 1px solid seagreen */
} */

input[type=range] {
    -webkit-appearance: none;
    /* width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-image: url('/images/Chooks/nubbet-1.png'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  // why don't these work together ?? find out next time

.nugget-0 input[type=range]::-webkit-slider-thumb,
.nugget-0 input[type=range]::-moz-range-thumb {    
    border: 1px solid red;
}
.nugget-1 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nubbet-1.png');
}
.nugget-2 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-2.png');
}
.nugget-3 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-3.png');
}
.nugget-4 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-4.png');
}
.nugget-5 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-5.png');
}
.nugget-6 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-6.png');
}
.nugget-7 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-7.png');
}
.nugget-8 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-8.png');
}
.nugget-9 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-9.png');
}
.nugget-10 input[type=range]::-webkit-slider-thumb {    
    background-image: url('/images/Chooks/nugget-10.png');
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Karla', sans-serif;
}

.site-header {
    background-color: #1d1d1d;
    color: #fffaf0;
    padding: 10px;
}

.site-header a {
    color: inherit;
}

.site-logo {
    text-decoration: none;
}

.hero-section {
    background-color: #fbecc7;
    background-image: url(./repeating-chicken.png);
    background-size: 170px;
    background-position: center;
    padding: 60px 20px;
}

.hero-section__inner {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
}

.hero-section h1 {
    margin: 0;
}

.hero-section p {
    margin: 0;
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.review-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* > means only an li that is a direct child of the review list will be affected */
.review-list > li {
    max-width: 48%;
    margin: 0 0 20px 0;
}

.review {
    display: block;
}

.review__title {
    margin: 0;
}

.review__image {
    display: block;
    max-width: 100%;
}

.site-footer {
    max-width: 580px;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
}

@media (max-width: 500px) {

    .hero-section {
        padding: 20px;
        background-size: 130px;
    }
    .review-list {
        display: block;
    }
    .review-list > li {
        max-width: 100%;
    }
}



